# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# pi-lens AI coding agent
.pi-lens/

# Finder (MacOS) folder config
.DS_Store
config/plexus.yaml
config/*.db
config/*.sqlite
config/*.db*

CLIProxyApi/
llms/
CAP-UI/
CLIProxyApi/
gemini-client-error*

.gemini/
gha-creds-*.json
plexus-linux
plexus-macos
plexus.exe
sampledata/*.db
auth.json
packages/backend/config/
research_and_plans/
packages/logs.txt
.vscode/mcp.json
.pi/readcache/
packages/backend/.test-db.sqlite
packages/backend/.test-db.sqlite-shm
packages/backend/.test-db.sqlite-wal
.test-db.sqlite
.test-db.sqlite-shm
.test-db.sqlite-wal
.pi-lens
docs/openapi.yaml
